.video-overlay-image-container {
  text-align: center;
  margin-bottom: 24px;
  font-size: 0;
}
#video_overlay_inner {
  text-align: center;
  color: #fff;
}
#video_overlay_inner hr {
    border: none;
    border-bottom: 4px solid #fff;
    max-width: 43%;
}
#video_overlay_inner h2 {
  margin: 0;
  font-size: calc(18px + (80 - 18) * ((100vw - 375px) / (1920 - 375)));
}
#video_overlay_inner p {
  text-transform: uppercase;
  font-size: calc(16px + (40 - 16) * ((100vw - 375px) / (1920 - 375)));
  margin: 16px 0 0;
  white-space: nowrap;
}
.vjs-dock-text {
  display: none;
}
/* Style the article container and text */
#video_overlay {
  visibility: hidden;
  transition: visibility 600ms linear, opacity 600ms linear;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 2rem;
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  cursor: default;
}
#video_overlay_inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 80px);
}
#video_overlay.overlay-fade-in {
  opacity: 1;
  visibility: visible;
}
.video-overlay-image-container img {
  width: 120px
}
@media (max-width: 959px) {
  .video-overlay-image-container img {
    width: 100px
  }
}
@media (max-width: 759px) {
  .video-overlay-image-container img {
    width: 80px;
  }
  .video-overlay-image-container {
    margin-bottom: 16px;
  }
  #videoOverlayInner hr {
    border-bottom: 3px solid #fff;
  }
}
@media (max-width: 579px) {
  #video_overlay {
    padding: 8px;
  }
  #video_overlay_inner {
    width: calc(100% - 32px);
  }
  #video_overlay_inner hr {
    border-bottom: 2px solid #fff;
  }
  .video-overlay-image-container img {
    width: 50px
  }
  .video-overlay-image-container {
    margin-bottom: 8px;
  }
  #video_overlay_inner p {
    margin: 8px 0 0;
  }
  #video_overlay_inner hr {
    margin: 8px auto;
  }
}
